## Spark DataFrame Basics

In [1]:
from pathlib import Path
from pyspark.sql import SparkSession
import pandas as pd
import numpy as np
import json

### Define Row Data Path

In [6]:
DATA_DIR = Path().resolve().parent / "data" 
data_path = DATA_DIR / "stock_data.csv"
print(data_path)

/home/boran/Desktop/financial-ETL/data/stock_data.csv

### Create Spark DataFrame

In [13]:
# Create Spark session
spark = SparkSession.builder.appName("Basics").getOrCreate()

df = spark.read.csv(str(data_path), inferSchema=True, header=True)

In [14]:
df.show()

+----------+------+--------+-------+--------+--------+
|      Date| Close|  Volume|   Open|    High|     Low|
+----------+------+--------+-------+--------+--------+
|2024-11-25|232.87|90152830| 231.46| 233.245|  229.74|
|2024-11-22|229.87|38168250| 228.06|230.7199|  228.06|
|2024-11-21|228.52|42108330| 228.88| 230.155|225.7103|
|2024-11-20| 229.0|35169570| 228.06|  229.93|  225.89|
|2024-11-19|228.28|36211770| 226.98|  230.16|  226.66|
|2024-11-18|228.02|44686020| 225.25|  229.74|  225.17|
|2024-11-15| 225.0|47923700|  226.4|  226.92|  224.27|
|2024-11-14|228.22|44923940| 225.02|  228.87|   225.0|
|2024-11-13|225.12|48566220| 224.01|  226.65|  222.76|
|2024-11-12|224.23|40398300| 224.55|  225.59| 223.355|
|2024-11-11|224.23|42005600|  225.0|   225.7|   221.5|
|2024-11-08|226.96|38328820| 227.17|  228.66| 226.405|
|2024-11-07|227.48|42137690|224.625| 227.875|  224.57|
|2024-11-06|222.72|54561120| 222.61| 226.065|  221.19|
|2024-11-05|223.45|28111340|221.795|  223.95|  221.14|
|2024-11-04|222.01|44944470| 220.99|  222.79|  219.71|
|2024-11-01|222.91|65276740|220.965|  225.35|  220.27|
|2024-10-31|225.91|64370090| 229.34|  229.83|  225.37|
|2024-10-30| 230.1|47070910| 232.61|  233.47|  229.55|
|2024-10-29|233.67|35417250|  233.1| 234.325|  232.32|
+----------+------+--------+-------+--------+--------+
only showing top 20 rows

In [15]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)

In [12]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType